$blueish: #336699;
$oranegish: #ffc04c;
$standardShadow: 0 0 13px black;

body {
  overflow-y: hidden;
}

// #mobileUpBtns {
//   position: relative;
//   top: 10px;
// }

.upBtn {
  position: relative;
}

.video-container {
  display: none;
}

.header-bio {
  width: fit-content;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.65);
  padding: 10px;
}

.desktopDownBtn {
  display: none;
}

.topContainer {
  color: white;
  height: 100vh;
  position: relative;
}

body {
  font-family: "Archivo Narrow", sans-serif;
  text-align: center;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a,
.devicon-github-plain.colored {
  color: #ffc04c;
}

.techDiv {
  margin-bottom: 10px;
}

.techContainer {
  display: inline-block;
}
.contact,
.fa {
  font-size: 50px;
}
.downBtn,
#headerDownBtn {
  color: white;
  animation: arrowPulse 0.75s alternate infinite;
}

#headerDownBtn {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

.downBtn {
  position: absolute;
  font-size: 70px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:hover,
.devicon-github-plain.colored:hover {
  color: #ffc04c;
}

.fa {
  color: #336699;
  margin: 3px;
  font-size: 50px;
}

.fa:hover {
  color: #ffc04c;
}

.descDiv {
  width: 100%;
  margin: auto;
  color: black;
  font-size: 23px;
  margin-top: 5px;
}

h4 {
  margin: 9px;
  font-size: 25px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 35px;
}

@-webkit-keyframes highlightOnLoad {
  0% {
    border-top: 5px solid white;
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    border-top: 5px solid $oranegish;
  }
}

@keyframes arrowPulse {
  0% {
    color: white;
  }
  100% {
    color: $oranegish;
  }
}

.projectLinks {
  display: inline-block;
  width: 20%;
  float: right;
}

.bioDiv {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.border {
  border-top: 5px solid $oranegish;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: 4s 0s 1 highlightOnLoad;
  animation: 4s 0s 1 highlightOnLoad;
}

.portfolioContent {
  background: rgba(255, 255, 255, 0.85);
  margin: auto;
  box-shadow: $standardShadow;
}

.devicon-javascript-plain.colored {
  color: darkorange;
}

.portfolioSection {
  position: relative;
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  color: white;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#newsViews,
#timeSpent,
#packLight,
#got {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  position: relative;
  top: 25%;
}
#newsViews {
  background-image: url("./images/mountain2.jpg");
}

#timeSpent {
  background-image: url("./images/mountain3.jpg");
}

#packLight {
  background-image: url("./images/mountain4.jpg");
}

#got {
  background-image: url("./images/mountain1.jpg");
}
.portfolioHeader {
  position: relative;
  text-align: center;
  color: black;
  margin: 5px auto;
}
.rightLink {
  position: absolute;
  right: 0;
  top: 15%;
  margin: 0 20px;
}

.doubleLink {
  position: absolute;
  right: 0;
  top: 15%;
  margin: 0 10px;
}

.leftLink {
  position: absolute;
  left: 0;
  top: 15%;
  margin: 0 20px;
}

.leftLink:hover,
.rightLink:hover {
  animation: linkSpinner 0.65s linear infinite;
}

@keyframes linkSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.portfolioHeader > h3 {
  display: inline-block;
  width: fit-content;
  margin: 10px auto;
}

.underliner {
  margin-left: auto;
  margin-right: auto;
  width: 0%;
  border-bottom: 0;
  border-bottom: 3px solid #ffc04c;
  -webkit-transition: all 0.5s;
}

.portfolioSection:hover .underliner {
  width: 100%;
  border-bottom: 3px solid #ffc04c;
  -webkit-transition: all 0.5s;
}

.icon {
  font-size: 40px;
}
.zoom,
.devicon-express-original-wordmark.colored {
  color: white;
}

.zoom {
  background: #ffc04c;
}
.devicon-express-original-wordmark.colored {
  background: #336699;
}

header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 35px;
  padding-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.bioParent {
  -webkit-box-shadow: 0 10px 5px;
  box-shadow: 0 10px 5px;
  background: #f2f4f3;
}

.returnBtnIcon {
  transform: rotate(180deg);
  font-size: 70px;
  animation: 1s arrowPulse alternate infinite;
  margin: 0 20px;
}

.contactInfo {
  text-align: center;
  display: inline-block;
}

img {
  margin: auto;
  display: block;
  width: 150px;
  height: 150px;
}

p {
  margin: 0;
}

h3 {
  font-size: 40px;
  text-align: center;
}

.whatIDo {
  text-align: center;
}

.descSpan {
  margin: 5px;
  text-align: left;
}

@-webkit-keyframes traceScreenshot {
  0% {
  }
  50% {
    width: 100%;
  }
  100% {
    border-top: 5px solid #336699;
  }
}

.clientApiParent {
  text-align: left;
  display: inline-block;
}

.clientApi {
  display: block;
}

.raisedLink {
  position: relative;
  bottom: 10px;
}

.iconSmall {
  font-size: 20px;
}
.screenshot {
  width: 100%;
  height: 35vh;
}
.screenshot2 {
  display: none;
}
.topContainer {
  background: url("./images/mountain6.jpg");
  background-size: cover;
  background-position: center;
}
.video-container{
  display: none;
}
// iphone x
@media screen and (min-height: 750px) {
  .downBtn {
    display: none;
  }
  .icon {
    font-size: 55px;
  }
}
@media screen and (width: 320px) and (height: 568px) {
  #headerDownBtn {
    top: 80%;
    left: 42%;
  }
}

/* start of non-mobile */
@media screen and (min-width: 750px) {
  .downBtn {
    display: none;
  }
  .topContainer{
    background: url('')
  }

  .video-container {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    width: 100vw;
    top: 50%;
    filter: blur(4px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .desktopDownBtn {
    animation: 0.75s arrowPulse alternate infinite;
    position: absolute;
    font-size: 70px;
    display: inline-block;
  }
  .right {
    right: 10%;
    bottom: 0;
  }
  .left {
    // left: 60%;
    left: 10%;
    bottom: 0;
  }
  .screenshot {
    display: inline-block;
    height: 50vh;
    box-shadow: 0 0 5px black;
    width: 75%;
  }
  .screenshot2 {
    height: 50vh;
    width: 20%;
    display: inline-block;
  }
  header {
    font-size: 55px;
  }

  .projectLinks {
    padding: 10px;
  }

  .iconSmall {
    font-size: 30px;
  }
  .icon {
    font-size: 50px;
  }
  .contactIcons {
    font-size: 40px;
    display: block;
  }
  .contactInfo {
    display: block;
  }

  h2 {
    font-size: 55px;
  }
  h3 {
    font-size: 50px;
  }
  h4 {
    font-size: 30px;
  }
  .bioDiv {
    font-size: 30px;
  }
  .desktopAboutMeSpan {
    display: block;
  }

  .newsViewsDiv {
    margin-bottom: 10px;
  }

  .topContainer {
    top: 5%;
  }
  .downBtn {
    position: relative;
    bottom: 25px;
  }

  .portfolioContent {
    position: relative;
    width: 65%;
  }
  .descDiv,
  .descDiv {
    font-size: 25px;
    top: -15vh;
  }
}

// desktop monitors
@media screen and (min-width: 1550px) {
  .topContainer {
    top: 10%;
  }

  // #headerDownBtn {
  //   right: 44%;
  // }

  .descDiv {
    width: 65%;
    display: block;
    position: static;
  }

  .portfolioContent {
    width: 65%;
  }

  .icon {
    font-size: 55px;
  }

  .portfolioHeader,
  h4 {
    margin: 1px;
  }

  // #headerDownBtn {
  //   top: 70%;
  // }
}

@media screen and (min-height: 850px) {
  .descDiv {
    font-size: 30px;
  }
  .portfolioContent {
    width: 65%;
  }

  // #headerDownBtn {
  //   top: 77%;
  // }

  .bioDiv {
    font-size: 35px;
  }

  h3 {
    font-size: 50px;
  }

  h4 {
    font-size: 40px;
  }

  .icon {
    font-size: 55px;
  }
}
