body{
  font-family: 'Archivo Narrow', sans-serif;
  margin: 15px;
  text-align: center;
  }
  .fa{
    color: #336699;
    margin: 3px;
    font-size: 50px;
  }
  .fa:hover{
    color: #666666;
  }
  .descDiv{
    font-size: 25px;
    margin: 15px;
    background: #F2F4F3;
  }

  iframe{
  margin: auto;  
  display: block;
  height: 400px;
  width: 85%;
  }
  h4{
    margin: 0;
    font-size: 30px;
  }
  h2{
    color: white;
  }

  .portfolioSection{
    box-shadow: 0 10px 5px;
    background: #F2F4F3;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  .got{
    background: #336699;
  }
  .timeSpent{
    background: #666666;
  }
  .packLight{
    background: #336699;
  }
  .bioDiv{
    vertical-align: top;
    width: 70%;
    display: inline-block;
    padding: 10px;
    display: inline-block;
    text-align: left;
    font-size: 25px;
}

  header{
    font-size: 35px;
  }
  
  .bioParent{
    margin: 15px;
        box-shadow: 0 10px 5px;

    background: #F2F4F3;
  }
  .contactInfo{
    margin-top: 15px;
    padding-top: 10px;
    text-align: center;
    width: 25%;
    display: inline-block;
  }
  img{
    margin: auto;
    display: block;
    width: 150px;
    height: 150px;
  }
