body{
  font-family: 'Archivo Narrow', sans-serif;
  text-align: center;
  }
  .fa{
    color: #336699;
    margin: 3px;
    font-size: 50px;
  }

  .fa:hover{
    color: #666666;
  }
  .descDiv{
    padding: 5px;
    font-size: 20px;
    margin-top: 10px;
    background: #F2F4F3;
  }

  h4{
    margin: 0;
    font-size: 25px;
  }
  h2{
    margin: 20px;
    font-size: 35px;

  }

  .portfolioSection{
    box-shadow: 0 10px 5px;
    background: #F2F4F3;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
  }
  .got{
    background: #336699;
  }
  .timeSpent{
    background: #666666;
  }
  .packLight{
    background: #336699;
  }
  .bioDiv{
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
}

  header{
    font-size: 35px;
  }
  
  .bioParent{
        box-shadow: 0 10px 5px;

    background: #F2F4F3;
  }
  .contactInfo{
    padding-top: 10px;
    text-align: center;
    display: inline-block;
  }
  img{
    margin: auto;
    display: block;
    width: 150px;
    height: 150px;
  }
p{
  margin: 0;
}
h3{
  text-align: center;
margin: auto;
}
.whatIDoDiv{
  text-align: center;
}
.descSpan{
  margin: 5px;
  text-align: left;
}
.screenshot{
  height: 300px;
  width: 100%;
  border: 2px solid black;
}
  
@media screen and(min-width: 600px){
body{
  background: red;
}
}